<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  This is my first web application with ruby on rails...</br>
  It provides useful information about freedome fighters in indian who has sacrifice their life for other...
</p>