<% provide(:title, 'Contact') %>
<h1>Contact Us</h1>
    <p>
      This is contact Us page..</br>
      For more details:-</br>
      Ketan Ghumatkar</br>
      <91-9975453005></br>
      <ketan@weboniselab.com></br>
      <a href="/contact.html">contact page</a>
    </p>