<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Here is link associated with useful information:</br>
  <a href="http://besttoppers.com/top-10-freedom-fighters-india">Top Ten Freedom Fighter</a><br>
  <a href="http://www.whereincity.com/india/great-indians/freedom-fighters/">List of Freedom Fighter</a><br>
</p>