<footer class="footer">
  <small>
    <a href="http://en.wikipedia.org/wiki/Freedom_Fighter#Freedom_fighter">WOFF</a>
    by Ketan Ghumatkar
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://en.wikipedia.org/wiki/Freedom_Fighter#Freedom_fighter">News</a></li>
    </ul>
  </nav>
</footer>